.mb-sm {
  margin-bottom: 2rem !important;
}

.mt-sm {
  margin-top: 2rem !important;
}

.ml-sm {
  margin-left: 2rem !important;
}

.mr-sm {
  margin-right: 2rem !important;
}

.disabled {
  background-color: #eee !important;
  cursor: default !important;
  pointer-events: none !important;
}
