<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/temporary.css" />
    <title>Sochlo Members</title>
  </head>

  <body>

    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <ul class="navbar-nav">
          <li class="nav-item"> <a href="/" class="navbar-brand">&laquo; Back To SOCHLO</a></li>
      </ul>
      </div>
    </nav>


<!-- MEMBERS SECTION -->
    <section id="members" class="bg-light py-5 text-center">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="info-header mb-5">
              <h1 class="text-primary">Members Of Sochlo</h1>
              <p class="lead">
                These guys turns impossible into possible. To win challenges are
                in their nature.
              </p>
              <hr />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body">
                <img
                  src="./stylesheets/img_old/bijan.jpg"
                  alt=""
                  class="img-fluid rounded-circle w-50 mb-3"
                />
                <h3>Bijan Brahma</h3>
                <h5 class="text-muted">Lead Content Creator</h5>
                <p class="card-text">
                  Knower of all things from Lord of the rings to the latest technology.
                  Programmer, gamer and reader.
                </p>
                <div class="d-flex justify-content-center">
                  <div class="p-4">
                    <a href="#"> <i class="fab fa-facebook"></i> </a>
                  </div>
                  <div class="p-4">
                    <a href="#"> <i class="fab fa-twitter"></i> </a>
                  </div>
                  <div class="p-4">
                    <a href="#"> <i class="fab fa-instagram"></i> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body">
                <img
                  src="./stylesheets/img_old/robin.jpeg"
                  alt=""
                  class="img-fluid rounded-circle w-50 mb-3"
                />
                <h3>Robin Sharma</h3>
                <h5 class="text-muted">Frontend Developer</h5>
                <p class="card-text">
                  A master in Javascript, React and Angular. If you want your
                  frontend to be a master piece then he is your guy.
                </p>
                <div class="d-flex justify-content-center">
                  <div class="p-4">
                    <a href="#"> <i class="fab fa-facebook"></i> </a>
                  </div>
                  <div class="p-4">
                    <a href="#"> <i class="fab fa-twitter"></i> </a>
                  </div>
                  <div class="p-4">
                    <a href="#"> <i class="fab fa-instagram"></i> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body">
                <img
                  src="./stylesheets/img_old/souvik.jpg"
                  alt=""
                  class="img-fluid rounded-circle w-50 mb-3"
                />
                <h3>Souvik B.</h3>
                <h5 class="text-muted">Backend Developer</h5>
                <p class="card-text">
                  A pro in Node.js but also have the skills in Ruby on Rails and
                  Python etc. He is also a musicain and plays Guitar too.
                </p>
                <div class="d-flex justify-content-center">
                  <div class="p-4">
                    <a href="#"> <i class="fab fa-facebook"></i> </a>
                  </div>
                  <div class="p-4">
                    <a href="#"> <i class="fab fa-twitter"></i> </a>
                  </div>
                  <div class="p-4">
                    <a href="#"> <i class="fab fa-instagram"></i> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body">
                <img
                  src="./stylesheets/img_old/bidyut.jpg"
                  alt=""
                  class="img-fluid rounded-circle w-50 mb-3"
                />
                <h3>Bidyut R. D.</h3>
                <h5 class="text-muted">Marketing Manager</h5>
                <p class="card-text">
                  Marketting manager in Sochlo. Have some web-development skills
                  too. His sense of humor is awesome.
                </p>
                <div class="d-flex justify-content-center">
                  <div class="p-4">
                    <a href="#"> <i class="fab fa-facebook"></i> </a>
                  </div>
                  <div class="p-4">
                    <a href="#"> <i class="fab fa-twitter"></i> </a>
                  </div>
                  <div class="p-4">
                    <a href="#"> <i class="fab fa-instagram"></i> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<% include ./partials/dashboardFooter %>